html, body { font-family:Century Gothic; background-color:#DDD; font-size:90%;}
p { margin: 5px 0;}
p em {font-size:90%; }

#page { width:800px; margin: 0 auto; }

.alert { font-weight:normal; margin:20px; padding:10px; }
.errors { background-color:#FC0; border:2px solid #C00; }
.info { background-color:#3f9; border:2px solid #6C3; }
.not-supported { color:#900; font-weight:bold;}

.form-triple li { float:left; width: 30%; margin-left:2%; }
.form-triple li input { width:100%; }

.form-row, .form-action { width:100%; padding:10px;}
.form-row-horizontal label { display:inline-block; width:35%; float:left; padding:5px;}
.form-row-horizontal input { display:inline-block; width:55%; float:right; padding:5px;}
.form-row-horizontal select { display:inline-block; width:55%; float:right; padding:5px;}
.form-action-single input { width:100%; padding:5px; }

.list-view { width:100%; }
.list-view thead { background-color:#CCC; font-weight:bold; }
.list-view td { padding:10px; border-bottom:1px solid #CCC; }


/* Special rules for expandable areas */
.expandable a.expandable-trigger { cursor:pointer; display:block; width:100%; background:url('../images/css-images.png') 0 7px; text-align:right;}
.expandable a.collapsible-trigger { cursor:pointer; display:block; width:100%; background:url('../images/css-images.png') 0 7px; text-align:right; margin-top:10px; }
.expandable .expandable-inner { display:none; }
.show .expandable-inner { display:block; }

/* Special rules for the home page */
#sign-in { margin: 20px 0; width:350px; float:left; padding:20px; background-color:#EEE; border:1px solid;}
#sign-up { margin: 20px 0; width:350px; float:right; padding:20px; background-color:#EEE; border:1px solid;}

/* Special rules for the account home page */
#add-app-more-details table {width:100%;}
#add-app-more-details table td { padding:10px; width:50%; }
