<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script type="text/javascript" language="javascript">
            var baseUrl = "{{ url_for('index') }}";
        </script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery.corner.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
    </head>
    <body>
        <div id="page">
            <div id="main-logo">
                <img alt="The Swiftriver Gateway - Your gateway to the power of swiftriver" src="{{ url_for('static', filename='images/banner-frontpage.png') }}" />
                <!--<h1><span>The Swiftriver Gateway - Your gateway to the power of swiftriver</span></h1>-->
            </div>
            <div class="clearfix">
                <div id="sign-in">
                    <h1><img src="{{ url_for('static', filename='images/header-signin.png') }}" alt="Sign in with your RiverID" /></h1>
                    <div class="expandable {{ 'show' if signInErrors else '' }}">
                        <div class="expandable-inner">
                            {% if signInErrors %}
                                <div class="alert errors">
                                    {% for error in signInErrors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form action="{{ url_for('index') }}" method="POST">
                                <div class="form-row form-row-horizontal clearfix">
                                    <label for="riverid">Your RiverID</label>
                                    <input type="text" name="riverId" value="{{ riverId }}" />
                                </div>
                                <div class="form-row form-row-horizontal clearfix">
                                    <label for="riverid">Your Password</label>
                                    <input type="password" name="password" />
                                </div>
                                <div class="form-action form-action-single clearfix">
                                    <input type="submit" name="signIn" value="Sign in!" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
