{% extends "account/master.html" %}
{% block pageclass %}home{% endblock %}
{% block page %}
<div id="user-details">
    <p class="name">RiverID: {{ user.username }}</p>
</div>

<div id="apps">
    {% for app in user.apps %}
        <div class="app">
            <table>
                <tr>
                    <td class="key">App Name:</td>
                    <td class="value">{{ app.name }}</td>
                    <td class="more"></td>
                </tr>
                <tr>
                    <td class="key">App ID:</td>
                    <td class="value">{{ app.key }}</td>
                    <td class="more"></td>
                </tr>
                <tr>
                    <td class="key">App Secret:</td>
                    <td class="value">
                        <span id="app-secret" style="display:none">{{ app.secret }}</span>
                        <a id="app-secret-action" href="JavaScript:RevealAppSecret()">show secret</a>
                    </td>
                </tr>
            </table>
            <div class="stats">
                Stats to go here
            </div>
        </div>
    {% else %}
        <div id="no-apps">
            <h1>You don't have any apps set up yet, why dont you set one up?</h1>
        </div>
    {% endfor %}
    <div id="add-app">
        <h1><span>Add a new app to your account</span></h1>
        {% if addAppErrors %}
            <div class="alert errors">
                {% for error in addAppErrors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form action="{{ url_for('user_home') }}" method="post">
            <div class="form-row form-row-horizontal clearfix">
                <label for="appName">App Name</label>
                <input type="text" name="appName" value="{{ appName }}" />
            </div>
            <div class="form-row form-row-horizontal clearfix">
                <label for="appTemplate">Type of App</label>
                <select id="appTemplateSelect" name="appTemplate" onchange="AppTemplateOnChange()">
                    <option value="0">Select one</option>
                    <option value="tagger/1" {{ 'selected' if appTemplate == 'tagger/1' else 'none' }}>Tagging based app</option>
                </select>
            </div>
            <div id="app-template-descriptions">
                <div id="tagger_1" style="display:{{ 'block' if appTemplate == 'tagger/1' else 'none' }}">
                    <div class="alert info">
                        <p>
                            Tagging based apps can call the Switriver Tagger API
                            with chunks of text. The API which will scan the text
                            looking for likely keywords and return these to your
                            app as a collection of Tags.
                        </p>
                    </div>
                </div>
            </div>
            <div id="add-app-more-details-button" class="form-action form-action-single clearfix" style="display:{{ 'none' if appTemplate else 'block' }}">
                <input type="button" value="Choose Access Limits and Price Plan" onclick="AddAppChoosePricePlanButtonClick()" />
            </div>
            <div id="add-app-more-details" style="display:{{ 'block' if appTemplate else 'none' }}">
                <table>
                    <tr>
                        <td>
                            <h2 id="free-access"><span>Free Access</span></h2>
                            <input type="radio" name="pricePlan" value="free" {{ 'checked' if not pricePlan or pricePlan == 'free' else '' }}> Choose free access</input>
                        </td>
                        <td>
                            <h2 id="more-price-plans-soon"><span>More price plans coming soon</span></h2>
                        </td>
                    </tr>
                </table>
                <div class="form-action form-action-single clearfix">
                    <input type="submit" value="Sign this app up" name="add-app" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
