{% extends "account/master.html" %}
{% block pageclass %}home{% endblock %}
{% block page %}
<div id="user-details" class="section">
    <img src="{{ url_for('static', filename='images/header-userdetails.png') }}" />
    <table>
        <tr>
            <td class="key">Your RiverID:</td>
            <td class="value">{{ user.username }}</td>
            <td class="more"></td>
        </tr>
    </table>
</div>
<div id="add-app" class="section">
    <img src="{{ url_for('static', filename='images/header-addapp.png') }}" />
    <div class="expandable {{ 'show' if addAppErrors }} ">
        <div class="expandable-inner">
            {% if addAppErrors %}
                <div class="alert errors">
                    {% for error in addAppErrors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{{ url_for('user_home') }}" method="post">
                <div class="form-row form-row-horizontal clearfix">
                    <label for="appName">App Name</label>
                    <input type="text" name="appName" value="{{ appName }}" />
                </div>
                <div class="form-row form-row-horizontal clearfix">
                    <label for="appTemplate">Type of App</label>
                    <select id="appTemplateSelect" name="appTemplate" onchange="AppTemplateOnChange()">
                        <option value="0">Select one</option>
                        {% for template_id in app_templates.keys() %}
                            <option value="{{ template_id }}" {{ 'selected' if appTemplate == template_id else '' }}>{{ app_templates[template_id].name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="app-template-descriptions">
                    {% for template_id in app_templates.keys() %}
                        <div id="{{ template_id }}" style="display:{{ 'block' if appTemplate == template_id else 'none' }}">
                            <div class="alert info">
                                <p>{{ app_templates[template_id].description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="add-app-more-details-button" class="form-action form-action-single clearfix" style="display:{{ 'none' if appTemplate else 'block' }}">
                    <input type="button" value="Choose Access Limits and Price Plan" onclick="AddAppChoosePricePlanButtonClick()" />
                </div>
                <div id="add-app-more-details" style="display:{{ 'block' if appTemplate else 'none' }}">
                    {% for template_id in app_templates.keys() %}
                        <table id='price_plans_{{ template_id }}' style='display:{{ 'block' if appTemplate == template_id else 'none' }}'>
                            <tr>
                                {% for price_plan in app_templates[template_id].price_plans %}
                                    <td>
                                        <img src='{{ url_for('static', filename='images') }}/pp_{{ price_plan._id }}.png' />
                                        <input type='radio' name='priceplan' value='{{ price_plan._id }}' {{ 'selected' if pricePlan == "%s" % price_plan._id }} />{{ price_plan.name }}<br/>
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    {% endfor %}
                    <div class="form-action form-action-single clearfix">
                        <input type="submit" value="Sign this app up" name="add-app" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="apps" class="section">
    {% if user.apps %}
        <div id="app-title">
            <img src="{{ url_for('static', filename='images/header-yourapps.png') }}" />
            <p>Here are all your current Swiftriver Apps:</p>
        </div>
        {% for app in user.apps %}
            <div class="app">
                <h3>{{ app.name }}</h3>
                <div class="expandable">
                    <div class="expandable-inner">
                        <img src="{{ url_for('static', filename='images/header-appdetails.png') }}" />
                        <table>
                            <tr>
                                <td class="key">App Name:</td>
                                <td class="value">{{ app.name }}</td>
                                <td class="more"></td>
                            </tr>
                            <tr>
                                <td class="key">App ID:</td>
                                <td class="value">
                                    {{ app.key }}
                                    <div class='alert info'>
                                        <p>
                                            You use you app key and and app secret to sign
                                            each API request you make to the gateway. For
                                            more info, check out this wiki page

                                </td>
                                <td class="more"></td>
                            </tr>
                            <tr>
                                <td class="key">App Secret:</td>
                                <td class="value">{{ app.secret }}</td>
                                <td class="more"></td>
                            </tr>
                        </table>
                        {% if not app.key in app_stats.keys() or 'no_stats_found' in app_stats[app.key] %}
                            <div class="no-stats">
                                <img src="{{ url_for('static', filename='images/header-appstats.png') }}" />
                                <h3><span>Sorry, no stats were found for this app</span></h3>
                            </div>
                        {% else %}
                            <div class="stats">
                                <img src="{{ url_for('static', filename='images/header-appstats.png') }}" />
                                <table>
                                    <tr>
                                        <td class="key">Total Calls:</td>
                                        <td class="value">{{ app_stats[app.key]['total_count'] }}</td>
                                        <td class="more"></td>
                                    </tr>
                                    <tr>
                                        <td class="key">App in use since:</td>
                                        <td class="value">{{ app_stats[app.key]['first_use'] }}</td>
                                        <td class="more"></td>
                                    </tr>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div id="no-apps">
            <h1><span>You don't have any apps set up yet, why dont you set one up?</span></h1>
        </div>
    {% endif %}
</div>
{% endblock %}
