<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script type="text/javascript" language="javascript">
            var baseUrl = "{{ url_for('index') }}";
        </script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery.keyfilter.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    </head>
    <body>
        <div class="{% block pageclass %}{% endblock %}">
            <div id="header">
                {% block header %}{% endblock %}
            </div>
            <div id="page">
                {% block page %}{% endblock %}
            </div>
            <div id="footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </body>
</html>
