html, body { font-family:Century Gothic; background-color:#8BB1D8; font-size:90%;}
p { margin: 5px 0;}
p em {font-size:90%; }

#page { width:800px; margin: 0 auto; }
#header { width:800px; margin: 0 auto; }

.alert { font-weight:normal; margin:5px 0; padding:10px; }
.errors { background-color:#FC0; border:2px solid #C00; }
.info { background-color:#336699; border:2px solid #6699CC; color:#EEE; }
.not-supported { color:#900; font-weight:bold;}

.form-triple li { float:left; width: 30%; margin-left:2%; }
.form-triple li input { width:100%; }

.form-row, .form-action { padding:10px;}
.form-row-horizontal, .form-row-vertical { margin:10px 0 10px 0; }
.form-row-horizontal label { display:inline-block; width:35%; float:left; padding:5px;}
.form-row-horizontal input { display:inline-block; width:55%; float:right; padding:5px;}
.form-row-horizontal select { display:inline-block; width:55%; float:right; padding:5px;}
.form-row-vertical label { display:block; width:100%; margin-bottom:5px;}
.form-row-vertical input { width:100%; padding:5px;}
.form-row-vertical select { width:100%; padding:5px;}
.form-action-single input { width:100%; padding:5px; }
.form-action-double input { width:49.5%; padding:5px; }
.form-action-double .small { width:30%; }
.form-action-double .large { width:69%; }

.list-view { width:100%; }
.list-view thead { background-color:#CCC; font-weight:bold; }
.list-view td { padding:10px; border-bottom:1px solid #CCC; }


/* Special rules for expandable areas */
.expandable a.expandable-trigger { cursor:pointer; display:block; width:100%; background:url('../images/css-images.png') 0 7px; text-align:right;}
.expandable a.collapsible-trigger { cursor:pointer; display:block; width:100%; background:url('../images/css-images.png') 0 7px; text-align:right; margin-top:10px; }
.expandable .expandable-inner { display:none; }
.show .expandable-inner { display:block; }


/* SPECIAL RULES FOR POPUP INFO BOXES */
.close-infobox { float:right; font-weight:bold; position:relative; top:-10px; left:5px; cursor:pointer;}
.open-infobox { float:right; curson:help; font-weight:bold; text-decoration:none; cursor:help; }

/* Special rules for the home page */
#main-logo { text-align:center; margin-top:100px;}
#sign-in { margin: 20px auto; width:350px; padding:20px; border:1px solid #6699CC; }
#sign-in h1 { text-align:center; }

/* Special rules for the Home page template */

#logout { width: 100px; float:right; margin:30px 10px}
#logout input { padding:5px; width:100%; }

/* Special rules for the account home page */
.home .section { border:1px solid #6699CC; padding:10px 20px; margin:10px; }
.home .section .alert { margin:10px; }
.home #home-service-list { max-height:200px; overflow:auto; }
.home #home-service-list li { padding:10px; }
.home #home-service-list li a { color:black; }

