{% extends "admin/adminmaster.html" %}
{% block page %}

<div class="section">
    <h3>This isn't the service you were looking for, search again?</h3>
    <div class="action clearfix">
        {{ macros.search_for_service(errors=service_search_errors, return_to='admin/servicelist.html') }}
    </div>
</div>

<div class="section">
    <h3>{{ service.display_name }} - <em>{{ service.description }}</em></h3>

    <div class="section">
        <h3>View or change rate and data limits for {{ service.display_name }}</h3>
        <div class="expandable {% if change_open_access_rate_limit_errors %}show{% endif %}">
            <div class="expandable-inner">
                <div class="section">
                    <h3>Free Access to the methods of this service</h3>
                    <p>Here you can change the free rate limit allocated to none authenticated users of this service</p>
                    <p><em>Open access to services is rate limited per hour</em></p>
                    {% for method in service.api_methods %}
                        <div class="section">
                            <h3>Rate limit for the method {{ method.method_identifier }}</h3>
                            <p><em>Enter only numbers, enter 0 to remove the open access to this method.</em></p>
                            <form action="{{ url_for('admin_services') }}" method="POST">
                                <input type="hidden" name="serviceid" value="{{ service._id }}" />
                                <input type="hidden" name="methodid" value="{{ method.method_identifier }}" />
                                {% if change_open_access_rate_limit_errors and change_open_access_rate_limit_errors[method.method_identifier] %}
                                    <div class="alert errors">
                                        {% for error in change_open_access_rate_limit_errors[method.method_identifier] %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <ul class="form-triple clearfix">
                                    <li>Per hour rate limit:</li>
                                    <li><input type="text" name="ratelimit" value="{{ ratelimit|default(method.open_access_calls_per_hour) }}" class="mask-num" /></li>
                                    <li><input type="submit" name="change-open-access-rate-limit" value="Save this?" /></li>
                                </ul>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <div class="section">
                    <h3>Bundle API Packages</h3>
                    <p class="not-supported">Bundle API Access Packages are not yet supported by the SwiftGateway</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}