{% extends "admin/adminmaster.html" %}
{% block page %}

<div class="section">
    <h3>Can't find what you were looking for, search again?</h3>
    <div class="action clearfix">
        {{ macros.search_for_service(errors=service_search_errors, return_to='admin/servicelist.html') }}
    </div>
</div>

{% if services %}
    <table class="list-view services-list-view">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.display_name }}</td>
                    <td>{{ service.description }}</td>
                    <td>
                        <form action="{{ url_for('admin_services') }}" method="POST">
                            <input type="hidden" name="serviceid" value="{{ service._id }}" />
                            <input type="submit" name="view-service" value="View this service" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert">
        <p>Sorry, I couldn't find anything!</p>
    </div>
{% endif %}
{% endblock %}