html, body { font-family:Century Gothic; }

#page { width:800px; margin: 0 auto; }

#header { width:800px; margin: 0 auto; margin-bottom:20px; background-color: #CCC; }
#header h1 { padding:10px; font-size:2em;}
#header p { padding:10px; font-size:1.5em;}

.section { border:1px solid #CCC; padding:10px; margin-bottom: 10px;}
.section h3 { padding: 10px; margin:-10px -10px 10px -10px; background-color: #CCC; }

.alert { font-weight:bold; margin:20px; padding:10px; }
.errors { background-color:#FC0; border:2px solid #C00; }

.search-for li { float:left; width: 30%; margin-left:2%; }
.search-for li input { width:100%; }

.list-view { width:100%; }
.list-view thead { background-color:#CCC; font-weight:bold; }
.list-view td { padding:10px; border-bottom:1px solid #CCC; }