html, body { font-family:Century Gothic; }
p { margin: 5px 0;}
p em {font-size:90%; }

#page { width:800px; margin: 0 auto; }

#header { width:800px; margin: 0 auto; margin-bottom:20px; background-color: #CCC; }
#header h1 { padding:10px; font-size:2em;}
#header p { padding:10px; font-size:1.5em;}

.section { border:1px solid #006; padding:10px; margin: 10px 0 10px 0;}
.section h3 { padding: 10px; margin:-10px -10px 10px -10px; background-color: #006; color:#FFF; }
.section .section h3 { background-color: #009; }
.section .section .section h3 { background-color: #00C; }
.section .section .section .section h3 { background-color: #FFF; color:#000; }

.alert { font-weight:bold; margin:20px; padding:10px; }
.errors { background-color:#FC0; border:2px solid #C00; }
.not-supported { color:#900; font-weight:bold;}

.form-triple li { float:left; width: 30%; margin-left:2%; }
.form-triple li input { width:100%; }

.list-view { width:100%; }
.list-view thead { background-color:#CCC; font-weight:bold; }
.list-view td { padding:10px; border-bottom:1px solid #CCC; }


/* Special rules for expandable areas */
.expandable a.expandable-trigger { cursor:pointer; display:block; width:100%; background:url('../images/css-images.png') 0 7px; text-align:right;}
.expandable a.collapsible-trigger { cursor:pointer; display:block; width:100%; background:url('../images/css-images.png') 0 7px; text-align:right; margin-top:10px; }
.expandable .expandable-inner { display:none; }
.show .expandable-inner { display:block; }
